
<div class="footercontainer">
    
    <div class="container">
        <div class="external-links">
           <div class="row">
               <div class =" col">
                  <p> Overview</p>
               </div>
               <div class="col">
                  <p> Help center</p>
               </div>
                <div class =" col">
                   <p> About & jobs</p>
                </div>
                <div class="col">
                   <p> Blog</p>
                </div>
                </div>
                <div class="row">
                    <div class =" col">
                       <p> Instagram</p>
                    </div>
                    <div class="col">
                       <p> Twitter</p>
                    </div>
                    <div class =" col">
                        <p>Facebook</p>
                     </div>
                     <div class="col">
                        <p> LinkedIn</p>
                     </div>
           </div>
           <div class="row">
            <div class =" col">
               <p> Privacy & Terms</p>
            </div>
            <div class="col">
               <p> Updates</p>
            </div>
            <div class =" col">
                <p></p>
             </div>
             <div class="col">
                <p></p>
             </div>
   </div>
    </div>
</div>
    <footer class="footer">
    <div class="container">
        <p>Kaar Technologies &copy; 2020.All rights reserved </p>
    </div>
</footer>

