
<div class="body">
    <div class="container-fluid">
        <div class="card card-container">
            
                    <div class="row">
                       <div class="col">
                            <h4></h4>
                            
                            <div class=" hovercard">   
                               
                                <div class="avatar">
                                    <img src="assets/images/loginimg.png">
                                </div>
                                <br />
                            <small><cite title=""> Meenambakkam,Chennai <fa-icon class = "normal"[icon]="['fas', 'map-marker-alt']"></fa-icon></cite></small>
                            <br />
                            
                                <h6>Name:</h6> <p id="empname"> <fa-icon class = "normal"[icon]="['fas', 'id-badge']"></fa-icon> karthick </p>
                                
                            
                                <br />
                            
                                
                            
                                <h6>Date Of Birth:</h6> <p id="age"> <fa-icon class = "normal"[icon]="['fas', 'calendar-alt']"></fa-icon> 10.04.1999</p>
                                

                            
                                <br />
                            
                                <h6>Gender:</h6> <p id="gender">  <fa-icon class = "normal"[icon]="['fas', 'male']"></fa-icon> male</p>
                               
                            
                                <br />
                            
                                <h6>Phone:</h6><p id="contact">  <fa-icon class = "normal"[icon]="['fas', 'phone-alt']"></fa-icon> 7708673276</p>
                                 
                            
                                <br />
                            
                            <!-- Split button -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-lg btn-primary btn-block btn-signin" type="submit" (click) ="editProfile()"> Edit 
                                    <fa-icon class = "normal"[icon]="['fas', 'edit']"></fa-icon>
                                   </button>
                                
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    	

            

               
                
                
               
           