
    
    small {
        display: block;
        line-height: 1.428571429;
        color: #999;
        }
        .body {
            padding:1px;
            height: 100%;
            background: rgba(23,23,23,0.6);
        
        }
        .container-fluid{
            padding-top:100px;
            padding-bottom:100px;
           
        }
        .reauth-userid {
            display: block;
            color: #404040;
            line-height: 2;
            margin-bottom: 10px;
            font-size: 14px;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        .profile-name-card {
            font-size: 16px;
            font-family: "Roboto",  sans-serif ;
            text-align: center;
            margin: 10px 0 0;
            min-height: 1em;
            color:whitesmoke;
        }
        
        .card-container.card {
            vertical-align: middle;
            text-align:middle;
            max-width: 600px;
            padding: 50px 50px;
            background: rgba(23,23,23,0.7);
        }
        .btn {
            width: fit-content;
            padding-left: 10px;
            padding-right: 10px;
            font-weight: 700;
            height: 36px;
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            cursor: default;
            size: inherit;
        }
        .card {
            background: #353C51;
            /* just in case there no content*/
            padding: 20px 25px 30px;
            margin: 0 auto 25px;
            margin-top: 50px;
            /* shadows and rounded borders */
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        }
        
        
        .btn.btn-update {
            background: linear-gradient(to right, #7b4397,  #dc2430);
            
            font-weight: 700;
            font-size: 14px;
            height: 36px;
            -moz-border-radius: 15px;
            -webkit-border-radius: 15px;
            border-radius: 15px;
            border: none;
            -o-transition: all 0.218s;
            -moz-transition: all 0.218s;
            -webkit-transition: all 0.218s;
            transition: all 0.218s;
            opacity:0.8;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        }
        
        .btn.btn-update:hover,
        .btn.btn-update:active,
        .btn.btn-update:focus {
            opacity:1;
            transform: scale(1.1);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
        }
        p{
            color: grey;
        }
        
        .normal{
            
            color:white;
        }
        .hovercard .avatar {
            position: relative;
            top: -50px;
            margin-bottom: -50px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 10px;
        }
        
        .hovercard .avatar img {
            width: 100px;
            height: 100px;
            max-width: 100px;
            max-height: 100px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            border: 5px solid rgba(255,255,255,0.5);
        }
        
        .form-createIncident #incidentid
        .form-createIncident #incidentcat
        .form-createIncident #incidentgrp
        .form-createIncident #incidenttitle
        .form-createIncident #incidentdesc
        .form-createIncident #plantid
        .form-createIncident #address
        .form-createIncident #incidenttime
        .form-createIncident #reportingperson
        .form-createIncident #reportingdate
        .form-createIncident #incidentdate
        .form-createIncident #incidreportingtimeentid  {
        direction: ltr;
        height: 44px;
        font-size: 16px;
    }
    
    .form-changeIncident input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    }
    
    .form-control{
        margin-top: 15px;
        margin-bottom: 15px;
    
    
    }