
<div class="body">
    <div class="wrap">
    <div class="bg justify-content-center">
    
    <div  class="headclass text-center  "  style="margin-bottom:0px">
     <h1 class="app-name"> Interact</h1>
     <div id="app-content">Access SAP screens anywhere anytime.</div>
    </div>
</div>

    </div>
    <hr/>

  
   
       <div class="row justify-content-center">
           <div class="col">
            <div class="card " id="card">
                <div class="picture-card" id="picture1">                   
                </div>
                    <div class="text-card" >
                       <div class="title"> Customer</div>
                        <div id="card-content">get ur customer screens here</div>
                    
                     <a routerLink="/customerlogin" class="button gradient-button" >
                        Login  &#8250;
                     </a>
               </div>
            </div>
          
        </div>
    
        <div class="col">
         <div class="card " id="card">
             <div class="picture-card" id="picture2">                   
             </div>
                 <div class="text-card" >
                    <div class="title">Vendor</div>
                     <div id="card-content">get ur customer screens here</div>
                 
                  <a routerLink="/vendorlogin" class="button gradient-button" >
                     Login  &#8250;
                  </a>
            </div>
         </div>
       
     </div>
 </div>
 <div class="row justify-content-center">
    <div class="col">
     <div class="card " id="card">
         <div class="picture-card" id="picture3">                   
         </div>
             <div class="text-card" >
                <div class="title">Employee</div>
                 <div id="card-content">get ur customer screens here</div>
             
              <a routerLink="/employeelogin" class="button gradient-button" >
                 Login  &#8250;
              </a>
        </div>
     </div>
   
 </div>

    <div class="col">
     <div class="card " id="card">
         <div class="picture-card" id="picture4" >                   
         </div>
             <div class="text-card" >
                <div class="title">Maintanence</div>
                 <div id="card-content">get ur customer screens here</div>
             
              <a routerLink="/maintanencelogin" class="button gradient-button" >
                 Login  &#8250;
              </a>
        </div>
     </div>
   
 </div>
</div>
<div class="row justify-content-center">
    <div class="col">
     <div class="card " id="card">
         <div class="picture-card" id="picture5">                   
         </div>
             <div class="text-card" >
                <div class="title">Shopfloor</div>
                 <div id="card-content">get ur customer screens here</div>
             
              <a routerLink="/shopfloorlogin" class="button gradient-button" >
                 Login  &#8250;
              </a>
        </div>
     </div>
   
 </div>

    <div class="col">
     <div class="card " id="card">
         <div class="picture-card" id="picture6">                   
         </div>
             <div class="text-card" >
                <div class="title">EHSM</div>
                 <div id="card-content">get ur customer screens here</div>
             
              <a routerLink="/ehsmlogin" class="button gradient-button" >
                 Login  &#8250;
              </a>
        </div>
     </div>
   
 </div>
</div>
<div class="row justify-content-center">
    <div class="col">
     <div class="card " id="card">
         <div class="picture-card" id="picture7">                   
         </div>
             <div class="text-card" >
                <div class="title">Quality Check</div>
                 <div id="card-content">get ur customer screens here</div>
             
              <a routerLink="/qualitychecklogin" class="button gradient-button" >
                 Login  &#8250;
              </a>
            </div>
     </div>
   
 </div>
 <div class="col"></div>
</div>

       <br/>
 </div>
      
   

